@import "../../app.component.scss";

header, .logo {
  background-color: $primary;
  display: grid;
  place-items: center;
  padding: 15px;
  height: min-content;
}

.buttonDiv {
  text-align: center;
  border-bottom: 1px;
  color: black;
}

.button {
  background-color: $primary;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 1rem;
  border-width: 3px;
  font-size: 17px;
}
