<div class="form">
    <h1>Add your marvel's movie</h1>
    <div>
        <form (submit)=addMovie()>
            <label>Title</label>
            <input type="text" id="movieTitle" required="required">
            <label>Poster</label>
            <input type="text" id="moviePoster" required="required">
            <label>Release Date</label>
            <input type="text" id="movieDate" required="required">
            <label>Description</label>
            <textarea id="movieDescription"></textarea>
            <div class="button">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</div>